<div class="panel panel-primary">
  <div class="panel-heading">
    {{product.Name}}
  </div>
  <div class="panel-body">
    {{product.Description}}
  </div>
  <div class="panel-footer">
    <span>Quantity : </span>
    <select [(ngModel)]="product.SelectedQuantity">
      <option *ngFor="let addNo of addNos"
              [ngValue]="addNo">
        {{addNo}}
      </option>
    </select>
    <button type="button"
            class="btn btn-success btn-xs pull-right"
            (click)="addItemToCart(product)">
      {{buttonText}}
    </button>
    <div class="clearfix"></div>
  </div>
</div>
