<div *ngIf="!basketIsEmpty()">
  <div class="col-sm-12">
    <div *ngFor="let product of products">
      <product-card [product]="product"
                    [defaultQuantity]=false
                    [buttonText]="'Update'"
                    (buyProductClick)="updateBasketItem(product)"></product-card>
    </div>
    <div class="pull-right">
      <button type="button"
              class="btn btn-primary"
              (click)="clearBasketClick()">
        Clear basket
      </button>
    </div>
  </div>
</div>

<div class="col-sm-12"
     *ngIf="basketIsEmpty()">
  <div class="well well-sm">
    <p class="text-danger">You currently do not have any items in your basket</p>
  </div>
</div>

