<div class="col-sm-12"
     *ngFor="let product of products">
  <product-card [product]="product"
                [buttonText]="'Add'"
                (buyProductClick)="addProductToBasket(product)"></product-card>
</div>
