<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/products']">Shopping Client</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/products']">View Products</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/basket']"><span class="glyphicon glyphicon-shopping-cart basket-icon"></span>Basket</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
